# Prevent execution of scripts inside the uploads directory
<FilesMatch "\.(php|php[3457x]|phtml|pl|py|cgi)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Deny from all
    </IfModule>
</FilesMatch>

Options -ExecCGI
